<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCko2vrX8SDD4u0LDmYUSUk_BBDFOddeU</string>
	<key>GCM_SENDER_ID</key>
	<string>242874408774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.curelux</string>
	<key>PROJECT_ID</key>
	<string>web-app-feb3f</string>
	<key>STORAGE_BUCKET</key>
	<string>web-app-feb3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242874408774:ios:9b7dfcdf589b4e5fe70f47</string>
</dict>
</plist>